.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
}

.slide-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block; /* Ensure the image is displayed */
}


.mySlides {
    display: none;
    text-align: center;
}

.active-slide {
    display: block;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 50%;
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}
.next {
    right: 10px;
}

/* Dots */
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
